<!-- aside -->
<aside id="aside" class="sticky-lg-top">
    <section id="aside-logo">
        <img src="../images/aside/aside_logo.png" alt="Logo">
    </section>
    <section id="aside-nav">
        <button>
            <img src="../images/aside/home.png" alt="Home Icon">
            <p>Dashboard</p>
        </button>
        <button>
            <img src="../images/aside/car.png" alt="Car Icon">
            <p>Cars</p>
        </button>
    </section>
</aside>