<!-- header -->
<header id="header" class="sticky-lg-top">
    <!-- left section -->
    <section class="header-left">
        <section>
            <img src="../images/header/header_logo.png" alt="Logo Header">
        </section>
        <button class="btn-menu">
            <img src="../images/header/menu.png">
        </button>
    </section>
    <!-- right section -->
    <section class="header-right float-end">
        <section class="header-right-section">
            <div class="input-group searchbar">
                <span><i class="bi bi-search"></i></span>
                <input type="text" class="form-control" placeholder="Search">
                <button class="btn btn-outline-secondary fw-bold" type="button" id="button-addon2">Search</button>
            </div>
            <section id="header-user">
                <div>
                    <img src="../images/header/avatar.png">
                </div>
                <div class="user-name">
                    <p>Unis Badri</p>
                </div>
                <div>
                    <img src="../images/header/chevron_down.png">
                </div>
            </section>
        </section>
    </section>
</header>