<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CMS - Car Management</title>

    <!-- bootstrap icon -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <!-- External CSS -->
    <link rel="stylesheet" type="text/css" href="./css/global.css">
    <link rel="stylesheet" type="text/css" href="./css/aside.css">
    <link rel="stylesheet" type="text/css" href="./css/headerSide.css">
    <link rel="stylesheet" type="text/css" href="./css/main_content.css">
</head>

<body>
    <!-- aside -->
    <%- include('./partials/aside'); %>

    <!-- Main Content -->
    <section id="main-content">
        <!-- header -->
        <%- include('./partials/header'); %>

        <!-- Sidebar -->
        <%- include('./partials/sidebar'); %>

        <!-- Content -->
        <main id="main">
            <!-- Route -->
            <section class="route flex-row-center">
                <p class=fw-bold>Cars</p>
                <img src="../images/content/icon/chevron_right.png" alt="Arrow Right">
                <p>List Car</p>
            </section>
            <!-- Title and Add Button -->
            <section class="title flex-row-center">
                <h5 class="fw-bold">List Car</h5>
                <a href="/create" class="btn btn-add-car fw-bold">
                    <div class="btn-img-plus"><img src="../images/content/icon/btn_add_plus.png"></div>
                    <p>Add New Car</p>
                </a>
            </section>
            <!-- Filter -->
            <section class="filter-btn">
                <button>All</button>
                <button>Small</button>
                <button>Medium</button>
                <button>Large</button>
            </section>
            <div></div>
            <div class="container-fluid">
                <div class="row pt-4">
                    <% for (var i in listCars) { %>
                    <div class="col-4">
                        <div class="card">
                            <img src="<%= listCars[i].url_image%>" class="card-img-top" alt="Car Image">
                            <section class="card-body-desc">
                                <p><%= listCars[i].name %>/Tipe Mobil</p>
                                <p class="fw-bold">Rp.<%= listCars[i].price %> / hari</p>
                                <section class="car-last-upd flex-row-center">
                                    <i class="bi bi-clock"></i>
                                    <p>Updated at <%= listCars[i].updatedAt %></p>
                                </section>
                                <section class="car-btn flex-row-center">
                                    <button class="car-btn-del flex-row-center btn-delete" data-id-car="<%= listCars[i].id %>" data-bs-toggle="modal" data-bs-target="#modalDelete">
                                        <img src="../images/content/icon/icon_delete.png" alt="Delete">
                                        <p class="fw-bold">Delete</p>
                                    </button>
                                    <section class="car-btn flex-row-center">
                                    <a href="/update/<%= listCars[i].id %>" class="btn car-btn-edit flex-row-center">
                                        <img src="../images/content/icon/icon_edit.png" alt="Edit">
                                        <p class="fw-bold">Edit</p>
                                    </button>
                                    </a>
                                </section>
                            </section>
                        </div>
                    </div>
                    <% } %>
                </div>
            </div>
            
            <div class="modal fade" id="modalDelete" tabindex="-1" aria-labelledby="modelDelete" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">Modal title</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <p>Modal body text goes here.</p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Tidak</button>
                      <button type="button" class="btn btn-primary btn-confirm">Ya</button>
                    </div>
                  </div>
                </div>
              </div>
              
                    <!-- Bootstrap Script -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous" defer></script>
    <script src="./js/index.js"></script>