.required:after {
    content:"*";
    color: red;
}

#car-form {
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 15px;
    font-size: small;
}

#car-form input, #car-form select {
    font-size: small;
    color: grey;
}

.upload-image {
    position: relative;
    font-size: smaller;
    color: grey;
}

.upload-image img {
    position: absolute;
    right: 25px;
    top: 15%;
}