/* aside CSS */

#aside {
    height: 100%;
    background-color: darkblue;
    text-align: center;
    position: fixed;
    z-index: 10000;
}

#aside #aside-logo {
    padding: 20px;
    margin-bottom: 5px;
}

#aside #aside-nav {
    text-align: center;
    display: flex;
    flex-direction: column;
}

#aside #aside-nav button {
    background-color: transparent;
    border: none;
    color: rgba(255, 255, 255, 0.604);
    padding: 5px;
    margin: 0;
    height: 70px;
}

#aside #aside-nav button:hover {
    /* background-color: #CFD4ED; */
    background-color: #cfd4ed8e;
    color: white;
}

#aside #aside-nav button p {
    font-size: smaller;
    margin: 0;
}

#aside #aside-nav img {
    width: 40%;
}

