* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    background-color: #f6f6f6;
}

p {
    margin: 0;
}

li, a {
    text-decoration: none;
    list-style: none;
    color: inherit;
}

a:hover {
    color: grey;
}

.row {
    margin: 0;
    padding: 0;
}

.flex-row-center {
    display: flex;
    flex-direction: row;
    align-items: center;
}