/* Header */

#header {
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: row;
    padding: 18px;
    padding-left: 30px;
    align-items: center;
    justify-content: space-between;
    box-shadow: 1px 1px 2px 2px rgba(215, 215, 215, 0.204);
}

.header-left {
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-left .btn-menu {
    width: fit-content;
    background-color: transparent;
    border: none;
}

.header-right-section {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.searchbar {
    width: 100%;
    margin-right: 30px;
    position: relative;
}

.searchbar .bi-search {
    position: absolute;
    z-index: 1000;
    top: 50%;
    transform: translate(50%, -50%);
    color: grey;
}

.searchbar input {
    padding-left: 30px;
}

.searchbar button {
    color: darkblue;
    border-color: darkblue;
    border: 2px solid darkblue;
    border-radius: 0;
}

#header-user {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#header-user div {
    margin-inline: 5px;
    align-items: center;
}

#header-user .user-name {
    width: max-content;
}

/* sidebar */

#sidebar-nav {
    width: 16.5%;
    height: 100%;
    position: fixed;
    background-color: white;
    padding-top: 45px;
}

#sidebar-nav h6 {
    padding-left: 25px;
    margin-bottom: 20px;
    color: grey;
}

#sidebar-nav li {
    height: 45px;
    padding-inline: 25px;
    display: flex;
    align-items: center;
}

#sidebar-nav li:hover {
    background-color: #cfd4edb9;
}

#sidebar-nav li:hover a {
    color: black;
}

#sidebar-nav a {
    color: black;
}