/* main-content */

#main-content {
    width: 100%;
    height: 100%;
    padding-left: 75px;
}

/* main */

#main {
    margin-left: 17.5%;
    padding: 20px;
    padding-top: 30px;
}

/* route */
#main .route {
    display: flex;
    flex-direction: row;
    gap: 5px;
}


#main .route p {
    margin: 0;
    font-size: smaller;
}

/* title */
#main .title {
    justify-content: space-between;
    margin-block: 25px;
}

#main .title h5 {
    margin-block: 8px;
}

#main .btn-add-car {
    background-color: darkblue;
    color: white;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

#main .btn-add-car .btn-img-plus {
    padding-bottom: 2px;
}

/* filter button */
#main .filter-btn {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-bottom: 25px;
}

#main .filter-btn button {
    border: 1.5px solid darkblue;
    border-radius: 2px;
    background-color: white;
    color: darkblue;
    font-weight: 600;
    padding-block: 5px;
    padding-inline: 10px;
}

#main .filter-btn button:hover {
    background-color: #CFD4ED;
}

/* Car List */
#list-car {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 22px;
}

#list-car .card {
    border-radius: 10px;
    width: 32%;
    padding: 5px;
}

#list-car .card-img-top {
    margin-top: 20px;
}

#list-car .card-body-desc {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

#list-car .card-body-desc p {
    font-size: medium;
}

#list-car .car-last-upd {
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 13px;
}

#list-car .car-last-upd i {
    color: gray;
}

#list-car .car-btn {
    justify-content: space-between;
}

#list-car .car-btn button, #list-car .car-btn .btn {
    text-align: center;
    padding: 10px;
    width: 47%;
    justify-content: center;
    gap: 10px;
    border-radius: 2px;
}

#list-car .car-btn-del {
    background-color: white;
    border: 2px solid #FA2C5A;
    color: #FA2C5A;
}

#list-car .car-btn-edit {
    background-color: #5CB85F;
    border: 2px solid #5CB85F;
    color: white;
}