<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CMS - Add Car</title>

    <!-- bootstrap icon -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <!-- Bootstrap Script -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous" defer>
    </script>

    <!-- External CSS -->
    <link rel="stylesheet" type="text/css" href="../css/global.css">
    <link rel="stylesheet" type="text/css" href="../css/aside.css">
    <link rel="stylesheet" type="text/css" href="../css/headerSide.css">
    <link rel="stylesheet" type="text/css" href="../css/main_content.css">
    <link rel="stylesheet" type="text/css" href="../css/addEdit.css">
</head>

<body>
    <!-- aside -->
    <%- include('../partials/aside'); %>

    <!-- Main Content -->
    <section id="main-content">
        <!-- header -->
        <%- include('../partials/header'); %>

        <!-- Sidebar -->
        <%- include('../partials/sidebar'); %>

        <!-- Content -->
        <main id="main">
            <!-- Route -->
            <section class="route">
                <p class=fw-bold>Cars</p>
                <img src="../images/content/icon/chevron_right.png" alt="Arrow Right">
                <p class=fw-bold><a href="/">List Car</a></p>
                <img src="../images/content/icon/chevron_right.png" alt="Arrow Right">
                <p>Add New Car</p>
            </section>
            <!-- Title and Add Button -->
            <section class="title flex-row-center">
                <h5 class="fw-bold">Add New Car</h5>
            </section>
            <!-- Form -->
            <form action="/api/cars" method="post">
            <section id="car-form">
                <div class="form-group row">
                    <label class="col-lg-2 col-form-label required">Nama</label>
                    <div class="col-lg-4">
                        <input type="text" name="name" class="form-control" placeholder="Avanza" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-2 col-form-label required">Sewa Per Hari</label>
                    <div class="col-lg-4">
                        <input type="text" name="price" class="form-control" placeholder="Rp 0,-" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-2 col-form-label required">Ukuran</label>
                    <div class="col-lg-4">
                        <select id="carSize" name="size_id" class="col-lg-4 filter-input form-select form-control">
                            <% sizes.forEach(data => { %>
                            <option value="<%= data.id %>"><%= data.name %></option>
                            <% }) %>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-2 col-form-label required">Foto</label>
                    <div class="col-lg-4 upload-image">
                        <input class="form-control" type="text" placeholder="https://img/avanza.jpg" name="url_image">
                        <img src="./images/content/icon/icon_upload.png" alt="Upload Image">
                        <p>File size max: 2MB</p>
                    </div>
                    <div class="button-choose">
                        <a href="/"><button type="button" class="btn" style="border-color: navy; border-radius: 3pt; margin-right: 5px;"><span style="color: navy; font-weight: bold;">Cancel</span></button></a>
                        <button type="submit" class="btn" style="border-radius: 3pt; background-color: navy; margin-right: 5px;"><span style="color: #AEB7E1; font-weight: bold;">  Save</span></button>
                      </div>
                </div>
            </section>
        </form>
        </main>
    </section>
</body>

</html>